<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button >
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle color ="--ion-color-primary" size ="large">Location information</ion-card-subtitle>
      <br>
      <i>121, Clear Water Bay road <br>Clear Water Bay, Kowloon <br> HongKong</i>
      <br>
      <ion-icon name ='call-outline'></ion-icon> +843 4389 382 <br>
      <ion-icon name = 'print-outline'></ion-icon> +843 8934 439 <br>
      <ion-icon name = 'mail-outline'></ion-icon> +843 8934 439 <br>

      <ion-button style="float: left;" fill="clear"><ion-icon name='call'></ion-icon>Call</ion-button>
      <ion-button style="float: right;" class= "ion-text-right" fill="clear"><ion-icon name='mail'></ion-icon>Email</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>