<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf = "dishes">
    <ion-grid>
      <ion-row>
        <ion-col size-12 size-lg-4 *ngFor="let d of dishes">
          <ion-card [routerLink] = "['/dishdetail',d.id ]" >
            <img src="{{'http://localhost:3000/' + d.image}}"/>
            <ion-card-content>
              <ion-card-title>{{d.name}}</ion-card-title>
              <p>{{d.description}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div [hidden] ="dishes">
    <ion-spinner></ion-spinner>
    <h4>loading...please wait</h4>
  </div>

</ion-content>