<ion-header>
  <ion-toolbar color="--ion-color-primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle color="--ion-color-primary"><b> Our History</b></ion-card-subtitle>
      <br>
      <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong.
        With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list
        clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will
         arrive on your plate the next time you visit us.</p>
      <br>
      <p>The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan,
        that featured for the first time the world's best cuisines in a pan.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-subtitle color="--ion-color-primary"><b>Corporate Leaders</b></ion-card-subtitle>
      <ion-list>
        <ion-item *ngFor =" let l of leaders">
          <ion-avatar slot="start">
            <img alt='' src="{{'http://localhost:3000/' + l.image}}"/>
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{l.name}}</h2>
            <h3>{{l.designation}}</h3>
            <p>{{l.description}}</p>
          </ion-label>

        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>