<ion-app>
  <ion-split-pane contentId = "main-content" type="overlay">
  <ion-menu color="--ion-color-primary" contentId = "main-content"> <ion-header>
    <ion-toolbar>
      <ion-title>Ristorante ConFusion</ion-title>
    </ion-toolbar>
    </ion-header>
  <ion-content>
    <ion-list>
        <ion-item menuClose ion-item *ngFor="let p of pages" [routerLink] = "p.link">
        <ion-icon  color="--ion-color-primary-pale"[name]="p.icon" item-left></ion-icon>
            {{p.title}}
        </ion-item>
        <ion-button menuClose (click)="openLogin()">

        
        <ion-icon color="--ion-color-primary-pale" name="log-in-outline" item-left></ion-icon>
        Login
      </ion-button>
   </ion-list>

  </ion-content>
 </ion-menu>
 <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
</ion-app>